# dependencies
node_modules

# next.js build output
.next
out
build

# misc
coverage
.vercel
public

# generated / lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
next-env.d.ts
*.tsbuildinfo

# env files
.env*
